.frame1 {
    background-color: #E0FBF2;
    left: 50%;
    transform: translateX(52.5px);
    width: 277px;
    height: 542px;
    border-radius: 0px 40px 40px 0px;
    position: fixed;
  }
.image img{
  width: 124px;
  height: 126px;
  flex-shrink: 0;
  padding-top: 115px;
  padding-left: 76.5px;
  margin-bottom: 40px;
}

