.frame2{
    display: flex;
    flex-direction: column;
    background-color: #54B6B9;
    width: 382px;
    height: 542px;
    left: 50%;
    transform: translateX(-329.5px);
    border-radius: 40px 0px 0px 40px;
    position: relative;
    &__content{
        padding-top: 60px;
        padding-bottom: 272px;
        width: 100%;
        max-width: 382px;
        align-self: center;
        margin-left: 113px;
    }
    &__title{
        font-weight: 400;
        font-size: 28px;
        color: #E0FBF2;
        display: block;
        margin-bottom: 42px;
    }
}

.input-box{
    margin-left: 5px;
    margin-bottom: 42px;
    &:last-of-type{
        margin-bottom: 0;
    }
    input {
        width: 63%;
        height: 100%;
        border: none;
        outline: none;
        background: #9AD8D5; /* Цвет фона инпута */
        padding: 16px 13px 15px; /* Отступы внутри инпута */
        border-radius: 9px; /* Радиус границы инпута */
        font-size: 16px;
        color: #333; /* Цвет текста инпута */
        user-select: none;
    }
}
.pass-icon img{
    position: absolute;
    cursor: pointer;
    width: 25px;
    height: 25px;
    left: 77%;
    bottom: 50.5%;
    user-select: none;
}

.checkbox {
    display: flex;
    color: #E0FBF2;
    user-select: none;
    margin-bottom: 42px;
    font-size: 14px;
    line-height: 22px;
}

.checkbox input[type="checkbox"] {
    margin-left: 7px;
    width: 16px; /* Ширина чекбокса */
    height: 16px; /* Высота чекбокса */
    margin-right: 9px; /* Отступ между чекбоксом и текстом */
    border-radius: 2px;
}


.btn-box{
    margin-bottom: 42px;
    margin-left: 84px;
    :hover{
        background-color: #9AD8D5;
    }
    button {
        width: 92px;
        border: none;
        outline: none;
        background: #D9F3EB; /* Цвет фона кнопки */
        padding: 4px; /* Отступы внутри кнопки */
        border-radius: 9px; /* Радиус границы кнопки */
        font-size: 18px;
        color: #54B6B9;
        height: 32px;
        padding: 0px;
        transition: 0.5s;
        cursor: pointer;
    }
}
  
.link_pswd {
    color: #E0FBF2;
    font-size: 16px;
    text-decoration: none;
    margin-left: 64px;
}