.header{
    display: flex;
    flex-direction: column;
    background-color: #54B6B9;
    margin-bottom: 130px;
    position: relative;
    padding: 14px 30px 26px;
}
.heading{
    color: #FFF;
    text-decoration: none;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
}
