@charset "UTF-8";
@import url("https://fonts.cdnfonts.com/css/evolventa");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  font-family: "evolventa";
  line-height: normal;
  font-style: normal;
  font-weight: 400;
  color: #000;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 240px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #54B6B9;
  width: 100%;
  position: fixed;
  padding: 14px 30px 26px;
  z-index: 1;
}

.heading {
  color: #FFF;
  text-decoration: none;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
}

.frame9 {
  width: 658px;
  height: 218px;
  padding: 11px 31px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  border-radius: 48px;
  background: #D9C9F8;
  position: relative;
  -webkit-transform: translateX(0px);
      -ms-transform: translateX(0px);
          transform: translateX(0px);
  margin-bottom: 120px;
}
.frame9__title {
  font-size: 50px;
  font-weight: 400;
  margin-bottom: 17px;
}
.frame9__subtitle {
  font-size: 40px;
  font-weight: 400;
}

.frame8 {
  width: 904px;
  height: 506px;
  padding: 75px 28px 28px 38px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 48px;
  background: #C2F8EB;
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-240px);
      -ms-transform: translateX(-240px);
          transform: translateX(-240px);
  margin-bottom: 120px;
}
.frame8__subtitle {
  font-size: 30px;
}

.first-word {
  font-size: 55px;
  font-weight: 400;
}

.second-word {
  font-size: 50px;
  font-weight: 400;
}

.frame10 {
  left: 50%;
  -webkit-transform: translateX(-708.5px);
      -ms-transform: translateX(-708.5px);
          transform: translateX(-708.5px);
  position: relative;
  width: 1285px;
  border-radius: 48px;
  border: 10px solid #BDA8E9;
  padding: 75px 66px;
}
.frame10__subtitle {
  line-height: 60px;
  font-weight: 400;
  font-size: 35px;
}

.button3 {
  margin-top: 196px;
  margin-bottom: 213px;
  left: 50%;
  -webkit-transform: translateX(-173px);
      -ms-transform: translateX(-173px);
          transform: translateX(-173px);
  position: relative;
}
.button3 :hover {
  background-color: #ae9fd5;
}
.button3 button {
  width: 324px;
  height: 48px;
  border: none;
  outline: none;
  border: 2px solid #7B64BC;
  padding: 20px 22px;
  border-radius: 9px; /* Радиус границы кнопки */
  font-size: 40px;
  color: #7B64BC;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
}

@media screen and (max-width: 1490px) {
  .frame9 {
    -webkit-transform: translateX(-360px);
        -ms-transform: translateX(-360px);
            transform: translateX(-360px);
  }
  .frame8 {
    -webkit-transform: translateX(-480px);
        -ms-transform: translateX(-480px);
            transform: translateX(-480px);
  }
  .frame10 {
    width: 1000px;
    -webkit-transform: translateX(-566px);
        -ms-transform: translateX(-566px);
            transform: translateX(-566px);
  }
}