@import url("https://fonts.cdnfonts.com/css/evolventa");
header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: #54B6B9;
  position: fixed;
  z-index: 1;
  width: 100%;
  padding: 14px 30px 26px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.left-section a,
.right-section a {
  color: #FFF;
  text-decoration: none;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
}

.right-section {
  margin-right: 66px;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  font-family: "evolventa";
  line-height: normal;
  font-style: normal;
  font-weight: 400;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}