
header{
    display: flex;
    flex-direction: row;
    background-color: #54B6B9;
    margin-bottom: 60px;
    position: relative;
    padding: 14px 30px 26px;
    justify-content: space-between;
} 
.left-section a,
.right-section {
    color: #FFF;
    text-decoration: none;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    margin-right: 50px;
}
.right-section {
    margin-right: 66px;
    user-select: none;
}


