.frame2 {
    display: flex;
    flex-direction: column;
    background-color:  #E0FBF2;
    left: 50%;
    transform: translateX(-329.5px);
    width: 382px;
    height: 542px;
    border-radius: 0px 40px 40px 0px;
    position: relative;
    &__content{
        padding-top: 67px;
        padding-bottom: 272px;
        width: 100%;
        max-width: 382px;
        margin-left: 44px;
    }
    &__title{
        font-weight: 400;
        font-size: 28px;
        color: #54B6B9;
        display: block;
        margin-bottom: 33px;
        margin-left: 14.5px;
    }
}

.input-box{
    margin-left: 5px;
    margin-bottom: 33px;
    &:last-of-type{
        margin-bottom: 0;
    }
    input {
        width: 63%;
        height: 100%;
        border: none;
        outline: none;
        background: #9AD8D5; /* Цвет фона инпута */
        padding: 16px 13px 15px; /* Отступы внутри инпута */
        border-radius: 9px; /* Радиус границы инпута */
        font-size: 16px;
        color: #333; /* Цвет текста инпута */
        user-select: none;
    }
}

.pass-icon img{
    position: absolute;
    cursor: pointer;
    width: 25px;
    height: 25px;
    left: 73.5%;
    bottom: 37.4%;
    user-select: none;
}


.btn-box{
    margin-top: 97px;
    margin-left: 51.5px;
    :hover{
        background-color: #479b9d
    }
    button {
        width: 158px;
        border: none;
        outline: none;
        background: #54B6B9; /* Цвет фона кнопки */
        border-radius: 9px; /* Радиус границы кнопки */
        font-size: 18px;
        color: #E0FBF2;
        height: 32px;
        padding: 0px;
        transition: 0.5s;
        cursor: pointer;
    }
}